# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual environments
venv/
env/
.venv/
ENV/

# VSCode or IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Docker
*.pid

# Byte-compiled files
*.egg-info/
dist/
build/
